/*------------ Basic style start here ---------------*/
*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
}

.text-h2{
    color: #0B0223;
}

.text-p{
    font-size: 15px;
    color: #534C64;
    margin: 10px 0;
    font-weight: 500;
}

.text-color{
    color: #FF42A5;
}

.space{
    margin-right: 5px;
}

.btn-linear{
    border-radius: 48px;
    background: #FF42A5;
    padding: .5rem 1.2rem;
    border: none;
    color: #FFF;
    transition: .4s;
}
.btn-linear:hover{
    background-color: #a41e63;
}

.btn-aqua{
    border-radius: 48px;
    background: #4EC5F7;
    padding: .5rem 1.2rem;
    border: none;
    color: #FFF;
    transition: .4s;
}
.btn-aqua:hover{
    background-color: #226683;
}
/*------------ herader style start here ---------------*/
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 7rem;
    background-color: rgb(247, 247, 239);
}
.nav-title{
    justify-content: center;
    align-items: center;
}

.nav-body ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
}

.nav-body li a{
    font-size: 15px;
    color: #0B0223;
}

.nav-body li{
    transition: .4s;
    cursor: pointer;
}
.nav-body li:hover{
    text-decoration: underline;
    transform: scale(1.2,1.2);
}

.icon-style{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px;
    font-size: 12px;
}
/*------------ herader style start here ---------------*/


/*------------ banner style start here ---------------*/
.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 7rem;
}

.banner-img img{
    width: 400px;
    height: 100%;
}
.banner-title>h1{
    font-size: 2.4rem;
    color: #662dac;
    margin: 5px 0;
}

.banner-btn>.btn-linear{
    margin-right: 10px;
}
/*------------ banner style end here ---------------*/

/*------------ Online Game style start here ---------------*/
.online-game{
    padding: 2rem 7rem;
}

.card-container{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.card{
    border: none;
    box-shadow: 1px 3px 2px 0 rgb(104, 128, 201);
    border-radius: 8px;
    transition: .4s;
}
.card:hover{
    transform: scale(1.05,1.05);
}

.card img{
    width: 230px;
    height: 80%;
}
.card p{
    width: 200px;
    text-align: justify;
    margin-top: 5px;
    padding: 5px;
}

.online-game-title{
    text-align: center;
    margin-bottom: 1.4rem;
}
/*------------ Online Game style end here ---------------*/


/*------------ Play Game style start here ---------------*/
.play-game-container{
    display: flex;
    justify-content: space-between;
    padding: 0rem 7rem;
    margin-top: 1rem;
    margin-bottom: 4rem;
}

.play-game-title{
    text-align: end;
    margin-top: 6rem;
}
.play-game-title p{
    width: 20rem;
}

.play-game-img{
    display: flex;
    flex-direction: column;
    margin-right: 5rem;
    position: relative;
}

.play-img-h{
    width: 350px;
    height: 100%;
}


.play-img-c{
    width: 160px;
    height: 180px;
    position: absolute;
    bottom : -2rem;
    left: -5rem;
}

/*------------ Play Game style end here ---------------*/


/*------------ Game  button style start here ---------------*/
.game-btn-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 2rem 7rem;
    gap: 10px;
}

.game-btn-container button{
    display: flex;
    padding: .5rem 1rem;
    border: none;
    font-weight: bold;
    border-radius: 25px;
    background-color: #FFF;
    align-items: center;
    font-size: 10px;

}

.game-btn-container button:hover{
    border: 1px solid #FF42A5;
    color: #FF42A5;

}

.game-btn{
    width: 35px;
    height: 35px;
}
/*------------ Game button style end here ---------------*/


/*------------ Footer style start here ---------------*/
.footer-container{
    text-align: center;
    background-color: #0B0223;
    color: #FFF;
    padding: 3rem;
    margin-top: 1rem;
}

.footer-title{
    justify-content: center;
    align-items: center;
}

.f-icon{
    font-size: 20px;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: .4s;
}


.f-icon:hover{
    transform: scale(1.2,1.2);
    color: rgb(244, 121, 76);
}

.f-icon:first-child{
    margin-left: 0;
}

.footer-icon-name ul{
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin: 1rem 0;
}

.footer-setting-name ul{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 1rem 0;
    color: rgba(255, 255, 255, 0.60);
    font-size: 15px;
}

.footer-copy p{
    
    margin: 1rem 0;
    color: rgba(255, 255, 255, 0.60);
    font-size: 12px;
}
/*------------ Footer style end here ---------------*/




/*------------ Responsive style start here ---------------*/

/*------------- Mobile Responsive Style ---------- */
@media screen and (max-width: 576px) {
    .nav-container,
    .nav-body>ul,
    .card-container,
    .play-game-container
    {
        flex-direction: column;
    }

    .nav-container{
        padding: 1rem;
    }
    .nav-body>ul{
        gap: 1rem;
    }
    .nav-title, .banner-img{
        margin-bottom: 1rem;
        
    }
    .banner-container{
        flex-direction: column-reverse;
        padding: 5px;
    }

    .online-game{
        padding: 2rem;
    }

    .card-container{
        padding: 0 3rem;
    }

    .card img{
        width: 100%;
        height: 100%;
    }

    .card{
        margin-bottom: 1rem;
    }

    .play-game-container{
        padding: 1rem 0;
        align-items: center;
        margin-top: -7rem;
    }

    .play-game-title{
        text-align: center;
        margin-bottom: 10px;
    }

    .play-game-img {
        margin-right: 10px;
        width: 50%;
        margin-top: 15px;
    }

    .play-img-h{
        width: 300px;
        height: 100%;
    }


.play-img-c{
        width: 140px;
        height: 160px;
    }

    .game-btn-container{
    padding: 1rem;
    grid-template-columns: repeat(3,1fr);
}

.footer-icon-name ul,
.footer-icon
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
}

.footer-setting-name ul
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.footer-copy p{
    margin: 0 4rem;
    font-size: 10px;
}

}

/*------------- Tablet Responsive Style ---------- */
@media screen and (min-width: 577px) and (max-width: 768px) {
    .banner-container{
        padding: 1rem 2rem;
    }

    .card-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

      .card img{
        width: 100%;
        height: 80%;
    }

    .play-game-container{
        padding: 1rem 2rem;

    }

    .play-game-title{
        text-align: start;
    }

    .play-game-title p{
        width: 15rem;
    }
    .play-game-img{
        margin-right: 5px;
    }

    .game-btn-container{
        padding: 3rem;
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-icon-name ul,
    .footer-icon,
    .footer-setting-name ul
    {
        font-size: 12px;
    }

    .footer-copy p{
    font-size: 9px;
}
}

/*------------ Responsive style start here ---------------*/
