/*------------ Basic style start here ---------------*/
*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
}


/*------------ herader style start here ---------------*/


/*------------ herader style start here ---------------*/
